{% load static %}
{% load cache %}
{% load i18n %}
{% load custom_tags %}
{% load tz %}

{% current_time as ct %}
{% get_current_timezone as TIME_ZONE %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{% endblock title %}</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
         <style>
            body {background-color: {% if ct.hour >= 19 or ct.hour <= 7 %} darkcyan {% else %} powderblue {% endif %};}
         </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">NewsPaper</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% block navigation %}
                        {% endblock navigation %}
                        {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/profile/{{ request.user.id }}">{% trans "Привет" %}, {{ request.user.get_username }}</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/accounts/login">{% trans "Вход" %}</a></li>
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/accounts/signup">{% trans "Регистрация" %}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {{ TIME_ZONE }}
        {{ ct|timezone:TIME_ZONE }}
        {% block content %}
        {% endblock content %}
    </body>
</html>
