{% extends 'default.html' %}

{% load custom_filters %}

{% block title %}Статьи{% endblock %}

{% block content %}
    <h1>Статьи: {{ posts|length }}</h1>
{% if posts %}
    <table>
        <tr>
            <td>Заголовок</td>
            <td>Дата публикации</td>
            <td>Текст</td>
        </tr>
        {% for post in posts %}
        {% if post.type == 'Article' %}
        <tr>
            <td> {{ post.title|censor }} </td>
            <td> {{ post.time_in|date:"d-m-Y" }} </td>
            <td> {{ post.text|truncatewords:20|censor }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
{% else %}
    <h2>Статьи Закончились</h2>
{% endif %}

{% include "news/pagination.html" %}

{% endblock content %}