{% extends 'default.html' %}

{% load custom_filters %}

{% block title %}Новости{% endblock title %}

{% block navigation %}
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="create">Создать новость</a></li>
{% endblock navigation %}

{% block content %}
    <h1>Новости: {{ page_obj.paginator.count }}</h1>
{% if posts %}
    <table>
        <tr>
            <td>Заголовок</td>
            <td>Дата публикации</td>
            <td>Текст</td>
        </tr>
        {% for post in posts %}
        {% if post.type == 'News' %}
        <tr>
            <td> {{ post.title|censor }} </td>
            <td> {{ post.time_in|date:"d-m-Y" }} </td>
            <td> {{ post.text|truncatewords:20|censor }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
{% else %}
    <h2>Новости Закончились</h2>
{% endif %}

{% include "news/pagination.html" %}

{% endblock content %}