{% extends 'default.html' %}
{% load i18n %}
{% load custom_filters %}

{% block title %} page_title {% endblock title %}

{% block navigation %}
    {% if perms.news.add_post %}
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'post_create' post_type %}">{% trans "Создать" %}</a></li>
    {% endif %}
{% endblock navigation %}

{% block content %}
    <h1>{{ page_title }}: {{ page_obj.paginator.count }}</h1>
{% if posts %}
    {% include "news/post_list.html" %}
{% else %}
    <h2>{% trans "Новости Закончились" %}</h2>
{% endif %}

{% include "news/pagination.html" %}

{% endblock content %}