{% extends 'default.html' %}
{% load i18n %}

{% load custom_filters %}

{% block title %}{% trans "Посты" %}{% endblock %}

{% block navigation %}
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'news' 'news' %}">{% trans "Новости" %}</a></li>
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'news' 'articles' %}">{% trans "Статьи" %}</a></li>
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'post_search' %}">{% trans "Поиск" %}</a></li>

{% endblock navigation %}

{% block content %}
    <h1>{% trans "Посты" %}: {{ page_obj.paginator.count }}</h1>
    {% if posts %}
        {% include "news/post_list.html" %}
    {% else %}
        <h2>{% trans "Посты Закончились" %}</h2>
    {% endif %}

    {% include "news/pagination.html" %}

{% endblock content %}
